

*{
  margin: 5px;
  padding: 5px;
  /*box-sizing: border-box;*/
}
/*html{
  font-size: 62.5;
}*/
img{
  max-width: 100%;
  height: 100%;
  border: 5px;
  border-radius: 5%;
  border-style: solid;
  border-color: grey;
  justify-items: center;
}

.contenedor{
  min-width: 150px;
  max-width: 400px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 7rem;
  display: grid;
  grid-template-rows: 7rem;
  background-color:hotpink;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-style: groove;
  border-radius: 30px;
}

body{
  font-family: sans-serif;
  background-color:rgb(24, 79, 137);
  
}


 h1{
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  color:gray;

}





/*header{
  background-color: hotpink;
  text-decoration: greenyellow,center;
  padding: 20px;
}
/*

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/
/* Change color on hover 
.topnav a:hover {
  background-color: #ddd;
  color: rgb(228, 147, 147);
}
 */
main{
  background-color: hotpink ;
}

/*.color{
  display: flex;
  width: 200px;
  color:rgb(85, 85, 161)
}*/

/*h1{font-family:cursive}

#principal{
  display: flex;
  flex-direction: column;
width: 500px;}

.item{
  width: 50%;
}

.igual{
  display: flex;
  width: 500px;
  flex-direction: column;
}

/*@media  screen and(min-width:320px) {
  body{
    background-color: aquamarine;
  }  
} 
@media screen and(min-width:768px){
  body{
    background-color: burlywood;
  }  
}
@media screen and(min-width:1024px{
  body{
    background-color: darkblue;
  }
    
}
    
